html
    head
        title Welcome
        link(href='/stylesheets/main.css' rel='stylesheet')      
        meta(charset="utf-8")

    header 
      h1#title SAMI BOOKS
      ul#search
        li#searchText
            h4 Search Book
        li(class="searchList") 
            p Title: 
        li(class="searchInput") 
            input(type="text" placeholder="Enter Title" id="bookTitle")
        li(class="searchList") 
            p Author: 
        li(class="searchInput") 
            input(type="text" placeholder="Enter Author" id="bookAuthor")
        li(class="searchList") 
            p Genre: 
        li(class="searchInput") 
            input(type="text" placeholder="Enter Genre" id="bookGenre")
        li(class="searchList") 
            p ISBN: 
        li(class="searchInput") 
            input(type="text" placeholder="Enter ISBN" id="bookISBN")
        li#searchButton
            button#searchB Search
        li#cartButton 
            button#cartB My Cart
        li#login
            if !loggedin
                button#login Log In
            else
                button#logout Log Out

    body
        div#main
        each book in books
            -bid = book.book_id
            .column
            .card(onclick='showBook("'+bid+ '")')
                p #{book.title}
        br
footer
script(src='/public/books.js')
