input(type="text" placeholder="ISBN" id="ISBN")
br
br
input(type="text" placeholder="title" id="title")
br
br
input(type="text" placeholder="language code" id="lang")
br
br
input(type="text" placeholder="page count" id="pagecnt")
br
br
input(type="text" placeholder="price" id="price")
br
br
input(type="text" placeholder="release date" id="date")
br
br
input(type="text" placeholder="publisher name" id="publisher")
br
br

input(type="text" placeholder="authors (separete with comma)" id="authors")
br
br
button#addBook(onclick='submit()') Submit

script(src='/public/form.js')