html
    head
        title Checkout
        link(href='/stylesheets/checkout.css' rel='stylesheet')      
        meta(charset="utf-8")

    header 
      h1#title SAMI BOOKS
    body
        div#main
        #userinfo 
          h3 User Information
          input(type="text" placeholder="Name" id="name") 
          input(type="text" placeholder="Contact Info" id="contactinfo") 
        div#checkout
          h3 Billing Information
          input(type="text" placeholder="Street Address" id="address") 
          input(type="text" placeholder="Apartment #" id="apt") 
          br
          input(type="text" placeholder="City" id="city") 
          input(type="text" placeholder="Country" id="country") 
          input(type="text" placeholder="Province" id="province")  
          input(type="text" placeholder="Postal Code" id="zipcode") 
          br
          button checkout


 
            