html
    head
        title Welcome
        link(href='/stylesheets/main.css' rel='stylesheet')      
        meta(charset="utf-8")

    header 
      h1#title SAMI BOOKS
    body
        div#operations
            button#addBook(onclick='addBook()') Add Book 
            br
            input(type="text" placeholder="ISBN" id="isbn")
            button#removeBook(onclick='removeBook()') Remove Book 
            br
            button#wkRprt(onclick='report()') Reports
            br
            button#publsihers(onclick='publishers()') Publishers Info
            br
            button#logout Log Out
footer
script(src='/public/main.js')
